@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --violet:  hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 40%, 60%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url('images/bg-mobile.svg')no-repeat top center;
    background-size: 100%;
    background-color: var(--violet);
    
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* Header */
.header-inner {
    max-width: 375px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: auto;
}

.header-img-grp {
    padding: 1rem;
}

.logo {
    display: block;
    max-width: 100%;
    width: 50%;
    height: auto;
    padding-bottom: 3rem;
    
}
.mockup {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Hero */
.hero {
    text-align: center;
    color: #fff;
    max-width: 80%;
    margin: 1rem auto;
}

.title {
    font-size: 1.5rem;
}

.hero-inner p {
    line-height: 1.5;
}

.btn-reg {
    display: inline-block;
    background-color:#fff;
    padding: .6rem 4.5rem;
    border-radius: 50px;
    font-size: .85rem;
    color: var(--violet);
    -webkit-box-shadow: 1px 2px 21px 5px rgba(0,0,0,0.32); 
    box-shadow: 1px 2px 21px 5px rgba(0,0,0,0.32);
}

.btn-reg:hover{
    background-color: var(--soft-magenta);
    color: #fff;
}

/* Social Links */
.social {
    margin-top: 3rem;
}
.social-inner {
    display: flex;
    justify-content: center;
}


.social-links {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    margin: auto .2rem;
    border-radius: 100%;
}

.fab{
    padding: .4rem;
}

.social-links:hover{
    border: 1px solid var(--soft-magenta);
    color: var(--soft-magenta);

}

@media screen and (min-width:1000px){
    body {
        background: url('images/bg-desktop.svg')no-repeat top center;
        background-size: 100%;
        background-color: var(--violet);
    }
    .header-inner {
        max-width: 1440px;
        flex-flow: row nowrap;
    }
    .header-img-grp {
        padding-left: 3rem;
    }
    .logo {
        width:30%;
    }
    .mockup {
        width: 100%;
    }

    .hero {
        flex: 1;
        text-align: start;
        display: flex;
        align-self: center;
    }

    .hero-inner {
        padding-left: 1rem;
        flex-basis: 80%;
    }
    .title {
        font-size: 3vw;
    }

    .btn-reg {
        padding: 1rem 4rem;
    }
.social {
    display: flex;
    justify-content: end;
    margin-right: 5rem;
}
}